<meta name="go-import" content="{{ .Domain }}/{{ .Module }} git {{ .URLPrefix }}/{{ .Module }}">
<meta name="go-source" content="{{ .Domain }}/{{ .Module }}
  {{ .URLPrefix }}/{{ .Module }}
  {{ .URLPrefix }}/{{ .Module }}/tree/main{/dir}
  {{ .URLPrefix }}/{{ .Module }}/blob/main{/dir}/{file}#L{line}">
